
@model BookListViewModel
    @{ 
        ViewData["Title"] = "Overzicht Boeken";
    }

            @foreach(KeyValuePair<int, BookDetailModel> entry in Model.Books)
            {
                <tr>
                    <td><a href="books/@entry.Key">@entry.Value.Author</a></td>
                    <td><a href="books/@entry.Key">@entry.Value.ISBN</a></td>
                    <td><a href="books/@entry.Key">@entry.Value.Title</a></td>
                </tr>
            
            }
